*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background: url(https://cdn.pixabay.com/photo/2014/09/07/21/50/library-438389_960_720.jpg) fixed center center no-repeat ;
    background-size: cover; */
}

.dropdown{
    width: 100%;
    margin: 0 auto;
    z-index: 2;
}
nav{
    height: 60px;
    background: rgba(70, 0, 110, 0.4);
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}
nav ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
}
nav ul li{
    background: rgba(95, 2, 107, 0.2);
    position: relative;
    list-style : none;
    display: inline-block;
}
nav ul li a{
    display: block;
    padding: 0 15px;
    color: white;
    text-decoration: none;
    line-height: 60px;
    font-size: 20px;
}
nav ul li a:hover{
    background: rgba(67, 4, 83, 0.514);
}
nav ul ul{
    position: absolute;
    top: 60px;
    display: none;
}
nav ul li:hover > ul{
    display: block;
}
nav ul ul li{
    width : 150px;
    float: none;
    display: list-item;
    position: relative;
}
nav ul ul ul li{
    position: relative;
    top: -60px;
    left: 150px;
}

@media screen and (max-width : 1000px){
    nav ul li a{
        display: block;
        padding: 0 10px;
        color: white;
        text-decoration: none;
        line-height: 60px;
        font-size: 15px;
    }
}
/* End of Navigation */
/* Container starts here */
.container{
    position: relative;
    width: 100%;
    z-index: 0;
}
.container img{
    position: relative;
    width: 100%;
    height: 600px;
}
/* Head section starts here */
.head-section{
    position: absolute;
    width: 60%;
    left: 0%;
    top: 0%;
    margin: 70px 50px;
    text-align: left;
    color: white;
    text-shadow: 0px 4px 4px black;
    font-style: italic;
}
.head-section p{
    text-align: justify;
    padding: 1rem 0%;
}
/* Head section ends here */
/* Container Ends here */
.next-section{
    position: relative;
    margin: 50px 0px;
    border: 1px solid rgb(64, 3, 80);
    background-color:  rgba(119, 93, 136, 0.2);
    box-shadow: 0 0 6px rgb(0, 0, 0);

}
.question{
    position: relative;
    width: 550px;
}
.question-title{
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0,0.4);
}
.question-title:hover{
    background-color: rgba(212, 212, 211,0.5);
}
.question-title p{
    line-height: 20px;
    font-size: 20px;
    position: absolute;
    margin: auto;
}

.question-title button{
    position: relative;
    display: inline;
    color: rgb(0, 0, 0);
    padding: 0px 5px;
    margin-right: -90%;
    border-radius: 2px;
    background: none;
    border: 1px solid rgb(0, 0, 0);
}
.question-title button:hover{
    background-color:rgba(212, 212, 211,0.5);
}
.question-text{
    margin: 0px;
    padding: 10px 0px;
    background-color: rgba(212, 212, 211,0.5);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.question{
    margin: 20px;
}

/* Hide Class */
.question-text{
    display: none;
} 
.show-text .question-text{
    display: block;
}
.minus-btn{
    display: none;
}
.show-text .minus-btn{
    display: inline;
}
.show-text .plus-btn{
    display: none;
}
.apply-btn{
    padding: 5px 10px;
    background: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    transition: 0.4s ease-in-out;
    margin: 20px;
}
.apply-btn:hover{
    color: white;
    background-color: rgba(212, 212, 211,0.5);
}

.apply-btn a{
    text-decoration: none;
    color: black;
}