*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url(https://cdn.pixabay.com/photo/2015/11/05/08/21/geometry-1023846_960_720.jpg) center center fixed no-repeat ;
    background-size: cover;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    position: absolute;
    width: 350px;
    height: 500px;
    background-color: rgba(255, 255, 255,0.3);
    border-radius: 18px ;
    padding: 20px 0px;
    transition: 1s ease-in-out;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container:hover{
    background-color: rgba(255, 255, 255,1);
}
hr{
    width: 80%;
}

.fb{
    padding: 0.5rem 2rem;
    color: #fff;
    background-color: rgb(64, 64, 240); 
    border : none;
    border-radius: 10px;
}

a{
    text-decoration: none;
}

.container input{
    padding: 0.5rem;
    width: 70%;
}

.container input[type=checkbox]{
    width: auto;
}

.btn{
    padding: 12px;
    background-color: rgb(43, 226, 134);
    font-size: 1rem;
    width: 40%;
    border-radius: 7px;
    border: none;
}
.main{
    margin-top: 30px;
}
header{
    background-color: rgba(255, 255, 255,0.2);
}
.menu h1 a{
    color: black;
    transition: 0.5s ease-in-out;
}
.menu h1 a:hover{
    color: white;
}
.menu h1{
    padding: 10px;
}
h4{
    margin-top: 30px;
    padding: 10px 0px;
}
/* Bootstrap Alert */
#alert{
    display: none;
}
/* Bootstrap Alert ends */
/* Pop up Animation starts here */
.container{
    margin-top: -150%;
    animation: drop 1s forwards ease-in;
}

@keyframes drop{
    0%{opacity: 0;}
    70%{margin-top: 10%;}
    100%{margin-top: 7%;}
}
/* Pop up Animation ends here */
