body{
    background: url(https://cdn.pixabay.com/photo/2017/05/25/21/29/dublin-2344423_960_720.jpg) no-repeat fixed center center;
    background-size:  cover;
}
hr{
    background: white;
}
.contact-form{
    background-color: rgba(48, 48, 48,0.6);
    color: white;
    margin-top: 100px;
    padding: 20px;
    box-shadow: 0px 0px 8px 3px rgb(151, 139, 139);
}
.navbar{
    background-color: rgba(88, 88, 88, 0.5);
}